.main_font_color {
    color: #222;
}
.minor_font_color {
    color: #555;
}
.item_title_text_size {
    font-size: 1.1em;
}
.list_text_size {
    font-size: 1em;
}


h1, h2, h3, h4, h5, h6, p, li, ul {
    .main_font_color;
    margin: 0;
    font-weight: 100;
}
h1, h2, h3, h4, h5, h6, p, li {
    margin-bottom: .3em;
}
a {
    .minor_font_color;
}
section {
    margin-top: 2em;
}
.resume {
    font-size: 16px;
    padding: 2em 3em;
    overflow: hidden;
}
.section_title {
    margin-bottom: 1em;
    .zh_title {
        margin: 0;
        font-size: 1.3em;
    }
    .en_title {
        font-size: 1em;
    }
}
.item {
    overflow: hidden;
    .item_duration {
        float: left;
        width: 20%;
    }
    .item_content {
        float: right;
        width: 80%;

        h1 {
            .item_title_text_size;
        }

        h2 {
            .list_text_size;
        }

        ul {
            padding-left: 1.3em;
        }

        li {
            .list_text_size;
        }

        .display {
            padding-top: .1em;
            a {
                margin-right: .3em;
            }
        }
    }
}
.annotation {
    font-size: .8em;
    .minor_font_color;
    margin-left: .2em;
}
header {
    overflow: hidden;
    .main_info {
        float: left;
        .name {
            font-size: 4em;
            margin-bottom: .15em;

            &:first-letter {
            }
        }
        .intension {
            font-size: 1.5em;
            .minor_font_color;
            margin-top: .2em;
        }
    }
    .other_basic_info {
        margin-top: .7em;
        float: right;
        li {
            list-style: none;
            font-style: italic;
            .minor_font_color;
            a {
                text-decoration: none;
            }
        }
    }
}

.left_section {
    width: 50%;
    float: left;
}

.right_section {
    width: 50%;
    float: right;
}

.education {
    .school, .major, .ranking {
        .item_title_text_size;
    }
    .school {
        margin-bottom: .2em;
    }
    .major {
        margin-bottom: .2em;
    }
}

.language {
    .cet {
        margin-bottom: .4em;
    }
    ul {
        padding-left: 1em;
    }
}

.experience {
    ul {
        padding-top: .3em;
    }
}

.skills {
    .item {
        padding: 0;
    }
    .item_content {
        width: 100%;
        list-style: none;
    }
}
